/* regras para toda a página */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header nav {
    /* define que a exibição dos elementos */
    /* por padrão ficarão m linha, um na frente do outro */
    display: flex;
    /* alinha os elementos na horizontal */
    justify-content: space-between;
    /* alinha os elemenetos na vertical */
    align-items: center;
    height: 15vh;
    padding:0px 5px;
    max-width: 1200px;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 8px 12px;
    border-radius: 5px;
}
header a:hover{
    background: #000;
    color: #fff;
}
header img{
    width: 220px;
}
#banner{
    background: url(../img/06.jpg)no-repeat center center fixed;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
}
body{
    /* remove a margem padrão do corpo da página */
    margin: 0;
}
#banner-texto{
    width: 1200px;
    margin: auto;
}
#banner-texto h1{
    color: #fff;
    font-size: 6rem;
    text-shadow: 0 0 10px #000;
    letter-spacing: 5px;
}
#banner-texto h5{
    color:#3264A6;
    font-size: 2rem;
    text-shadow: 0 0 10px #000;
}
#banner-texto h4{
    color: #fff;
    font-size: 2rem;
    text-shadow:0 0 10px #000;
}
#banner-texto button{
    padding: 8px 14px;
    border-radius: 4px;
    background: #3264A6;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 2px 2px 1px #fff;
    cursor: pointer;
}
#banner-texto button:hover{
    transform: scale(1.03);
    background: #24528e;
}
#servicos{
    max-width: 1200px;
    margin: 0 auto;
}
#servicos h2{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0px;
}
#servicos-icones{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
}
#servicos-icones div{
    flex: 1 1 calc(33.3% - 30px);
}
#servicos-icones img{
    width: 130px;
}
#promocoes{
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
}
#promocoes div{
    flex:1 1 calc(50% - 30px);
}
#promocoes img{
    width: 100%;
}
#promocoes h3{
    color: #f22727;
}
#promocoes h2{
font-size: 2rem;
}
#promocoes ul{
    list-style-type: none;
    padding-left: 0;
}
#promocoes ul li::before{
    content: "\2713";
    padding-left: 8px;
    color: #f22727;
}
#promocoes button{
    padding: 10px;
    background: #3264A6;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}
#promocoes2{
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
}
#promocoes2 div{
    flex:1 1 calc(50% - 30px);
}
#promocoes2 img{
    width: 100%;
}
#promocoes2 h3{
    color: #f22727;
}
#promocoes2 h2{
    font-size: 2rem;
}